---
import { Image } from 'astro:assets';

type Props = {
	title: string;
	description: string;
	imageUrl: string;
	href: string;
};

const { title, description, imageUrl, href } = Astro.props;
---

<a
	class="group card image-full h-56 shadow-xl before:!bg-opacity-60 before:transition-colors hover:before:bg-transparent"
	href={href}
>
	<figure>
		<!-- Assume image size is 1920x1080 -->
		<!-- [TODO) Use <Picture> and srcset after we move to our own image hosting service. -->
		<Image
			class="w-full transition-transform duration-700 ease-out group-hover:scale-105"
			src={imageUrl}
			alt={title}
			width={1920}
			height={1080}
			loading="eager"
		/>
	</figure>
	<div class="card-body h-56">
		<h2
			class="card-title text-4xl font-light transition-colors group-hover:text-transparent"
		>
			{title}
		</h2>
		<p class="transition-colors group-hover:text-transparent">
			{description}
		</p>
	</div>
</a>
