---
import { getEntry, getCollection } from 'astro:content';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLocalizedPathItems, addParamForPathItem } from '~/lib/routing';
import LandingLayout from '~/custom/layouts/LandingLayout.astro';
import { getLocaleByCode, useTranslation } from '~/lib/i18n/utils';
import ImageCard from '~/custom/components/gallery/ImageCard.astro';

const locale = getLocaleByCode(Astro.currentLocale);
const t = await useTranslation(locale);

const { id } = Astro.params;
const content = await getEntry('albums', id);

export const getStaticPaths = async () => {
	const albums = await getCollection('albums');

	return getLocalizedPathItems().flatMap((item) => {
		return albums.map((album) =>
			addParamForPathItem(item, () => ({ id: album.id })),
		);
	});
};
---

<LandingLayout
	title={[t(content.data.nameI18nKey), t('custom.page.gallery.title')]}
	description={t(content.data.descI18nKey)}
>
	<div class="container mx-auto mt-12 p-4">
		<a
			class="btn btn-ghost"
			href={getRelativeLocaleUrl(locale, '/gallery/')}
		>
			<span class="icon-[tabler--arrow-left]"></span>
			{t('custom.page.gallery.back')}
		</a>

		<h1 class="my-2 text-4xl">{t(content.data.nameI18nKey)}</h1>
		<p>{t(content.data.descI18nKey)}</p>
	</div>

	<div class="container mx-auto mt-8 p-4">
		<div class="grid gap-4 md:grid-cols-2 xl:grid-cols-3">
			{
				content.data.images.map((image) => (
					<ImageCard
						src={image.src}
						alt={t(image.altI18nKey)}
						caption={t(image.captionI18nKey)}
					/>
				))
			}
		</div>
	</div>
</LandingLayout>
